.position {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: space-evenly; 
  height: 100vh;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.img-home {
  height: 30vh;
  width: 100%;
}
.logo {
  width: 60%;
  max-width: 200px;
}
#signin-form {
  display: grid;
  width: 100%;
  height: 65vh;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
  border: 1px solid #DDDDDD;
}

input, button {
  width: 80%;
  height: 38px;
  border: none;
  border-radius: 20px;
}

input[type="email"], input[type="password"], button[type="button"]{
  padding: 5px 15px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(147, 147, 147, 0.4);
  background-color: #ffffff;

}

#signin {
  background-color: #FF009E;
  color: #fff;
}

.text {
  font-size: 0.8em;
  width: 85%;
  color: rgba(56, 56, 56, 0.8);
  background-color: #ffffff; 
  padding: 0 10px;
}

.change-form {
  color: #FF009E;
  font-weight: bold;
}
.text a{
  text-decoration: none;
}

.line {
  width: 90%; 
  height: 10px; 
  border-bottom: 1px solid rgb(189, 189, 189); 
  text-align: center;
}

.button-google {
  font-weight: bolder;
  line-height: 25px;
  color: #383838;
}

.google-icon {
  width: 22px;
  margin-right: 15px;
}

@media (min-width:768px) {
  .position{
      grid-template-columns: 65% 40%;
  }
  .img-home{
    width: 100%;
    height: 100vh;
    margin-right: 20%;
  }
  #signin-form {
    width: 100%;
    height: 80vh;
  }
}